/**** Body ****/
body {

}

/**** Paragraph ****/
p {
	margin:0px;
	padding:1px 0px;	
}

/**** Links ****/
a, a:link, a:active, a:hover, a:visited {
	color:#187cbc;
	text-decoration:none;
	border:none;
}
a:hover {
	color:#000;
	text-decoration:underline;	
}

/**** Headings ****/
h1, h2, h3, h4, h5, h6 {
	margin:0px;
	padding:0px;
}

/**** Menu ****/
/* Clear */
.menu:after{
	content:"."; 
	display:block; 
	line-height:1px; 
	font-size:1px; 
	clear:both;
	visibility:hidden;
}

/* Horizontal - structure */
.menu-horizontal > ul, .menu-horizontal > ul li, .menu-horizontal > ul ul {list-style: none;margin: 0;padding: 0;}
.menu-horizontal > ul {position: relative;z-index: 197;float: left;}
.menu-horizontal > ul li {float: left;line-height: 1.3em;vertical-align: middle;zoom: 1;}
.menu-horizontal > ul li.hover,#header .menu-horizontal > ul li:hover {position: relative;z-index: 199;cursor: default;}
.menu-horizontal > ul ul {visibility: hidden;position: absolute;top: 100%;left: 0;z-index: 198;width: 100%;}
.menu-horizontal > ul ul li {float: none;}
.menu-horizontal > ul ul ul {top: 1px;left: 99%;}
.menu-horizontal > ul li:hover > ul {visibility: visible;display:block;}

/* Horizontal - basic styling */
.menu-horizontal a, .menu-horizontal a:hover {
	display:block;
	padding:3px 4px;
	text-decoration:none;
}

/**** Body ****/
#body {
	background:#f9f9f9;
}

/**** Container ****/
#container {
	width:1000px;
	margin:0px auto;
	border-left:1px solid #ccc;
	border-right:1px solid #ccc;
}

/**** Header ****/
#header {
	padding:10px;
	background:#eee;
	border-bottom:1px solid #ccc;	
}

/**** Content ****/
#content {
	padding:10px;
	min-height:350px;	
	background:#fff;
}

/**** Footer ****/
#footer {
	padding:10px;
	background:#eee;
	border-top:1px solid #ccc;	
}

/*##end##*/