/**** Icons ****/
.i-comment, .i-comments {
	background-image:url(../../../../core/plugins/comments/images/icons.png);
}
.i-comment {background-position: 0px 0px}
.i-comments {background-position: 0px -16px}

/**** Comments ****/
.comments-container {
	padding-bottom:1px;
}
.comments-comment {
	border:1px solid #ccc;
	padding:5px 10px;
	margin-bottom:-1px;
}
.comments-comment-datetime {
	font-size:10px;
	color:#999;	
	margin-top:-2px;
}
.comments-comment-text {
	padding:5px;
}
.comments-comment-icons {
	float:right;	
}
/*##end##*/