/*
 * HTML5 Boilerplate
 *
 * What follows is the result of much research on cross-browser styling.
 * Credit left inline and big thanks to Nicolas Gallagher, Jonathan Neal,
 * Kroc Camen, and the H5BP dev community and team.
 *
 * Detailed information about this CSS: h5bp.com/css
 *
 * ==|== normalize ==========================================================
 */


/* =============================================================================
   HTML5 display definitions
   ========================================================================== */

article, aside, details, figcaption, figure, footer, header, hgroup, nav, section { display: block; }
audio, canvas, video { display: inline-block; *display: inline; *zoom: 1; }
audio:not([controls]) { display: none; }
[hidden] { display: none; }


/* =============================================================================
   Base
   ========================================================================== */

/*
 * 1. Correct text resizing oddly in IE6/7 when body font-size is set using em units
 * 2. Prevent iOS text size adjust on device orientation change, without disabling user zoom: h5bp.com/g
 */

html { font-size: 100%; -webkit-text-size-adjust: 100%; -ms-text-size-adjust: 100%; }

html, button, input, select, textarea { font-family: sans-serif; color: #222; }

body { margin: 0; font-size: 1em; line-height: 1.4; }

/*
 * Remove text-shadow in selection highlight: h5bp.com/i
 * These selection declarations have to be separate
 * Also: hot pink! (or customize the background color to match your design)
 */

::-moz-selection { background: #fe57a1; color: #fff; text-shadow: none; }
::selection { background: #fe57a1; color: #fff; text-shadow: none; }


/* =============================================================================
   Links
   ========================================================================== */

a { color: #00e; }
a:visited { color: #551a8b; }
a:hover { color: #06e; }
a:focus { outline: thin dotted; }

/* Improve readability when focused and hovered in all browsers: h5bp.com/h */
a:hover, a:active { outline: 0; }


/* =============================================================================
   Typography
   ========================================================================== */

abbr[title] { border-bottom: 1px dotted; }

b, strong { font-weight: bold; }

blockquote { margin: 1em 40px; }

dfn { font-style: italic; }

hr { display: block; height: 1px; border: 0; border-top: 1px solid #ccc; margin: 1em 0; padding: 0; }

ins { background: #ff9; color: #000; text-decoration: none; }

mark { background: #ff0; color: #000; font-style: italic; font-weight: bold; }

/* Redeclare monospace font family: h5bp.com/j */
pre, code, kbd, samp { font-family: monospace, serif; _font-family: 'courier new', monospace; font-size: 1em; }

/* Improve readability of pre-formatted text in all browsers */
pre { white-space: pre; white-space: pre-wrap; word-wrap: break-word; }

q { quotes: none; }
q:before, q:after { content: ""; content: none; }

small { font-size: 85%; }

/* Position subscript and superscript content without affecting line-height: h5bp.com/k */
sub, sup { font-size: 75%; line-height: 0; position: relative; vertical-align: baseline; }
sup { top: -0.5em; }
sub { bottom: -0.25em; }


/* =============================================================================
   Lists
   ========================================================================== */

ul, ol { margin: 1em 0; padding: 0 0 0 40px; }
dd { margin: 0 0 0 40px; }
nav ul, nav ol { list-style: none; list-style-image: none; margin: 0; padding: 0; }


/* =============================================================================
   Embedded content
   ========================================================================== */

/*
 * 1. Improve image quality when scaled in IE7: h5bp.com/d
 * 2. Remove the gap between images and borders on image containers: h5bp.com/i/440
 */

img { border: 0; -ms-interpolation-mode: bicubic; vertical-align: middle; }

/*
 * Correct overflow not hidden in IE9
 */

svg:not(:root) { overflow: hidden; }


/* =============================================================================
   Figures
   ========================================================================== */

figure { margin: 0; }


/* =============================================================================
   Forms
   ========================================================================== */

form { margin: 0; }
fieldset { border: 0; margin: 0; padding: 0; }

/* Indicate that 'label' will shift focus to the associated form element */
label { cursor: pointer; }

/*
 * 1. Correct color not inheriting in IE6/7/8/9
 * 2. Correct alignment displayed oddly in IE6/7
 */

legend { border: 0; *margin-left: -7px; padding: 0; white-space: normal; }

/*
 * 1. Correct font-size not inheriting in all browsers
 * 2. Remove margins in FF3/4 S5 Chrome
 * 3. Define consistent vertical alignment display in all browsers
 */

button, input, select, textarea { font-size: 100%; margin: 0; vertical-align: baseline; *vertical-align: middle; }

/*
 * 1. Define line-height as normal to match FF3/4 (set using !important in the UA stylesheet)
 */

button, input { line-height: normal; }

/*
 * 1. Display hand cursor for clickable form elements
 * 2. Allow styling of clickable form elements in iOS
 * 3. Correct inner spacing displayed oddly in IE7 (doesn't effect IE6)
 */

button, input[type="button"], input[type="reset"], input[type="submit"] { cursor: pointer; -webkit-appearance: button; *overflow: visible; }

/*
 * Re-set default cursor for disabled elements
 */

button[disabled], input[disabled] { cursor: default; }

/*
 * Consistent box sizing and appearance
 */

input[type="checkbox"], input[type="radio"] { box-sizing: border-box; padding: 0; *width: 13px; *height: 13px; }
input[type="search"] { -webkit-appearance: textfield; -moz-box-sizing: content-box; -webkit-box-sizing: content-box; box-sizing: content-box; }
input[type="search"]::-webkit-search-decoration, input[type="search"]::-webkit-search-cancel-button { -webkit-appearance: none; }

/*
 * Remove inner padding and border in FF3/4: h5bp.com/l
 */

/*button::-moz-focus-inner, input::-moz-focus-inner { border: 0; padding: 0; }

/*
 * 1. Remove default vertical scrollbar in IE6/7/8/9
 * 2. Allow only vertical resizing
 */

textarea { overflow: auto; vertical-align: top; resize: vertical; }

/* Colors for form validity */
input:valid, textarea:valid {  }
input:invalid, textarea:invalid { background-color: #f0dddd; }


/* =============================================================================
   Tables
   ========================================================================== */

table { border-collapse: collapse; border-spacing: 0; }
td { vertical-align: top; }


/* =============================================================================
   Chrome Frame Prompt
   ========================================================================== */

.chromeframe { margin: 0.2em 0; background: #ccc; color: black; padding: 0.2em 0; }


/* ==|== primary styles =====================================================
   Author:
   ========================================================================== */





/* ==|== media queries ======================================================
   EXAMPLE Media Query for Responsive Design.
   This example overrides the primary ('mobile first') styles
   Modify as content requires.
   ========================================================================== */

@media only screen and (min-width: 35em) {
  /* Style adjustments for viewports that meet the condition */
}



/* ==|== non-semantic helper classes ========================================
   Please define your styles before this section.
   ========================================================================== */

/* For image replacement */
.ir { display: block; border: 0; text-indent: -999em; overflow: hidden; background-color: transparent; background-repeat: no-repeat; text-align: left; direction: ltr; *line-height: 0; }
.ir br { display: none; }

/* Hide from both screenreaders and browsers: h5bp.com/u */
.hidden { display: none !important; visibility: hidden; }

/* Hide only visually, but have it available for screenreaders: h5bp.com/v */
.visuallyhidden { border: 0; clip: rect(0 0 0 0); height: 1px; margin: -1px; overflow: hidden; padding: 0; position: absolute; width: 1px; }

/* Extends the .visuallyhidden class to allow the element to be focusable when navigated to via the keyboard: h5bp.com/p */
.visuallyhidden.focusable:active, .visuallyhidden.focusable:focus { clip: auto; height: auto; margin: 0; overflow: visible; position: static; width: auto; }

/* Hide visually and from screenreaders, but maintain layout */
.invisible { visibility: hidden; }

/* Contain floats: h5bp.com/q // Custom, removed, I simply don't use this */
/*.clearfix:before, .clearfix:after { content: ""; display: table; }
.clearfix:after { clear: both; }
.clearfix { *zoom: 1; }*/



/* ==|== print styles =======================================================
   Print styles.
   Inlined to avoid required HTTP connection: h5bp.com/r
   ========================================================================== */

@media print {
  * { background: transparent !important; color: black !important; box-shadow:none !important; text-shadow: none !important; filter:none !important; -ms-filter: none !important; } /* Black prints faster: h5bp.com/s */
  a, a:visited { text-decoration: underline; }
  /*a[href]:after { content: " (" attr(href) ")"; }
  abbr[title]:after { content: " (" attr(title) ")"; }
  .ir a:after, a[href^="javascript:"]:after, a[href^="#"]:after { content: ""; }  /* Don't show links for images, or javascript/internal links */
  pre, blockquote { border: 1px solid #999; page-break-inside: avoid; }
  thead { display: table-header-group; } /* h5bp.com/t */
  tr, img { page-break-inside: avoid; }
  img { max-width: 100% !important; }
  @page { margin: 0.5cm; }
  p, h2, h3 { orphans: 3; widows: 3; }
  h2, h3 { page-break-after: avoid; }
}


/**** Basic elements ****/
body {
	font-size:12px;
}

p {
	margin:3px 0px;
	padding:3px 0px;
}

ul {
	margin:0px;
	padding: 0px 0px 0px 15px;
}
ol {
	margin:0px;
	padding: 0px 0px 0px 25px;
}

pre {
	font-family: sans-serif;
	white-space: pre-wrap;
	white-space: -moz-pre-wrap;
	white-space: o-pre-wrap;
}

b, strong { /* Some browsers (Chrome, older Firefox) make these 'bolder' which some fonts don't have characters for */
	font-weight:bold;
}

table {
	border-collapse:collapse;
}

label { /* Overwrite HTML5 Boilermaker cursor:pointer */
	cursor:auto;
}

/**** Core styles ****/
.core-tiny {
	color:#888;
	font-size:10px;
	font-weight:normal;
	line-height:12px;
}

.core-red {
	color:#b00000;
}
div.core-red {
	padding:10px;
	border:1px solid #b00000;
	background-color:#ffefef;
}
tr.core-red, td.core-red, th.core-red {
	background-color:#ffefef;
}

.core-green {
	color:#608112;
}
div.core-green {
	padding:10px;
	border:1px solid #8DA820;
	background-color:#f9ffed;
}
tr.core-green, td.core-green, th.core-green {
	background-color:#f9ffed;
}

.core-blue {
	color:#0084bc;
}
div.core-blue {
	padding:10px;
	border:1px solid #33ccff;
	background-color:#f9fdff;
}
tr.core-blue, td.core-blue, th.core-blue {
	background-color:#f9fdff;
}

.core-none, div.core-none {
	text-align:center;
	padding:25px;
}
.core-center, div.core-center {
	text-align:center;
}

.core-fade {
	opacity:.30;
	filter: alpha(opacity=30); 
	-moz-opacity: 0.3;
}

.clear {
	clear:both;
}
.clear-left {
	clear:left;
}
.clear-right {
	clear:left;
}

/**** Forms ****/
input, select {
	-moz-box-sizing:content-box;
	-webkit-box-sizing:content-box;
	box-sizing:content-box;	
}
input[type=text],
input[type=password],
input[type=email],
input[type=url],
input[type=number],
input[type=date],
input[type=datetime],
textarea {	
	width:250px;
	border:1px solid #cccccc;
	padding:4px 5px;
	background:#fff;
	height:14px; /* Firefox is 13 for some reason */

    -moz-box-shadow:0 0 4px #eee inset;
    -webkit-box-shadow:0 0 4px #eee inset;
}
input[type=number],
input.number,
input.digits,
input[type=text].number,
input[type=text].digits,
input[type=text].form-input-number {
	width:40px;
}
input[type=date], input.date, input[type=text].date {
	width:80px;
}
input[type=datetime] {
	width:120px;
}
input.colorpicker, input[type=text].colorpicker {
	width:75px;	
}
input.creditcard, input[type=text].creditcard {
	width:148px;	
}
input[type=checkbox], input[type=radio] {
	vertical-align:middle;
}
textarea {
	height:80px;
}
button, input[type=submit], input[type=reset], input[type=button] {
	font-family:Arial;
}
select {
	padding:1px 0px;
	font-size:12px;
}

option[disabled],
input[disabled],
textarea[disabled],
input[readonly],
textarea[readonly] {
	color:#ddd;
}

/* Note, must keep all 3 of the placeholder declarations separate: http://stackoverflow.com/a/2610741/502311 */
.placeholder {
	color:#aaa;
}
::-webkit-input-placeholder {
	color:#aaa;
}
:-moz-placeholder {
	color:#aaa;
}

/**** Form Class ****/
.form-field {
	margin-bottom:8px;
}
.form-clear {
	clear:both;	
}

/* Table - Example: <form class='form-table'> or <div class='form-row form-row-table'> */
.form-table .form-label, .form-table .form-field, .form-row-table .form-label, .form-row-table .form-field {
	float:left;
}
.form-table .form-label, .form-row-table .form-label {
	padding-top:3px;
	width:75px;	
}
.form-table .form-row, .form-row-table {
	width:100%;
	/*overflow:auto;*/
}
.form-table .form-field-checkbox, .form-row-table .form-field-checkbox {
	padding-top:4px;
}

/* Stack - Example: <form class='form-stack'> or <div class='form-row form-row-stack'> */
.form-stack .form-label, .form-stack .form-field, .form-row-stack .form-label, .form-row-stack .form-field {
	display:block;
	float:none;
}
.form-stack .form-label, .form-row-stack .form-label {
	padding:0px;
	width:auto;
}

/* Inline */
.form-row-inline, .form-table .form-row-inline {
	float:left;
	width:auto;	
	padding-right:5px;
}
.form-table .form-row-inline .form-label-blank {
	display:none;
}
/* Inline - align // skipping this for now */
/*.form-row-inline .form-field-select {
	padding-top:3px;
}
.form-row-inline .form-field-submit, .form-row-inline .form-field-button {
	padding-top:1px;
}*/

/* Atrributes */
.form-input-readonly {
	color:#bbb;
}

/* Preview */
.form-preview {
	margin-bottom:10px;	
}
.form-preview-keep {
	font-size:10px;
	color:#999;
	margin:0px 0px 4px;
	display:block;
}
.form-preview-media {
	float:left;
}
.form-preview-icons {
	float:left;
}

/* CKEditor */
.form-field-ckeditor {
	width:100%;	
}

/* SWFUpload */
.form-row-swfupload .swfupload {
	display:inline-block;
	vertical-align:middle;	
}

/* Errors */
.form label.error {
	padding-left:3px;
	white-space:nowrap;
}

/**** Notices ****/
.notice {
	color:#fff;
	font-size:15px;
	font-weight:normal;
	line-height:18px;
	text-align:center;
	padding:6px 10px 7px;
	position:relative;
	z-index:9999;
	opacity:.20;
	filter: alpha(opacity=20); 
	-moz-opacity: 0.2;
}
.notice a {
	color:#fff;
	text-decoration:underline;
}

.notice-message {
	text-shadow:0px 0px 2px #222902;
	background: #82af0e; /* Old browsers */
	background: -moz-linear-gradient(top,  #82af0e 0%, #5d7c0e 99%); /* FF3.6+ */
	background: -webkit-gradient(linear, left top, left bottom, color-stop(0%,#82af0e), color-stop(99%,#5d7c0e)); /* Chrome,Safari4+ */
	background: -webkit-linear-gradient(top,  #82af0e 0%,#5d7c0e 99%); /* Chrome10+,Safari5.1+ */
	background: -o-linear-gradient(top,  #82af0e 0%,#5d7c0e 99%); /* Opera 11.10+ */
	background: -ms-linear-gradient(top,  #82af0e 0%,#5d7c0e 99%); /* IE10+ */
	background: linear-gradient(to bottom,  #82af0e 0%,#5d7c0e 99%); /* W3C */
	filter: progid:DXImageTransform.Microsoft.gradient( startColorstr='#82af0e', endColorstr='#5d7c0e',GradientType=0 ); /* IE6-9 */
}
.notice-error {
	/* Red */
	text-shadow:0px 0px 2px #330000;
	background: #e04b38; /* Old browsers */
	background: -moz-linear-gradient(top,  #e04b38 3%, #9b2c07 100%); /* FF3.6+ */
	background: -webkit-gradient(linear, left top, left bottom, color-stop(3%,#e04b38), color-stop(100%,#9b2c07)); /* Chrome,Safari4+ */
	background: -webkit-linear-gradient(top,  #e04b38 3%,#9b2c07 100%); /* Chrome10+,Safari5.1+ */
	background: -o-linear-gradient(top,  #e04b38 3%,#9b2c07 100%); /* Opera 11.10+ */
	background: -ms-linear-gradient(top,  #e04b38 3%,#9b2c07 100%); /* IE10+ */
	background: linear-gradient(to bottom,  #e04b38 3%,#9b2c07 100%); /* W3C */
	filter: progid:DXImageTransform.Microsoft.gradient( startColorstr='#e04b38', endColorstr='#9b2c07',GradientType=0 ); /* IE6-9 */

	
	/* Orange */
	/*text-shadow:0px 0px 2px #441A00;
	background: #f79571;
	background: -moz-linear-gradient(top,  #f79571 1%, #b74e12 100%);
	background: -webkit-gradient(linear, left top, left bottom, color-stop(1%,#f79571), color-stop(100%,#b74e12));
	background: -webkit-linear-gradient(top,  #f79571 1%,#b74e12 100%);
	background: -o-linear-gradient(top,  #f79571 1%,#b74e12 100%);
	background: -ms-linear-gradient(top,  #f79571 1%,#b74e12 100%);
	background: linear-gradient(to bottom,  #f79571 1%,#b74e12 100%);
	filter: progid:DXImageTransform.Microsoft.gradient( startColorstr='#f79571', endColorstr='#b74e12',GradientType=0 );*/
}
.notice-info {
	text-shadow: 0px 0px 2px #002331;
	background: #31a1c4; /* Old browsers */
	background: -moz-linear-gradient(top,  #31a1c4 0%, #057aa8 99%); /* FF3.6+ */
	background: -webkit-gradient(linear, left top, left bottom, color-stop(0%,#31a1c4), color-stop(99%,#057aa8)); /* Chrome,Safari4+ */
	background: -webkit-linear-gradient(top,  #31a1c4 0%,#057aa8 99%); /* Chrome10+,Safari5.1+ */
	background: -o-linear-gradient(top,  #31a1c4 0%,#057aa8 99%); /* Opera 11.10+ */
	background: -ms-linear-gradient(top,  #31a1c4 0%,#057aa8 99%); /* IE10+ */
	background: linear-gradient(top,  #31a1c4 0%,#057aa8 99%); /* W3C */
	filter: progid:DXImageTransform.Microsoft.gradient( startColorstr='#31a1c4', endColorstr='#057aa8',GradientType=0 ); /* IE6-9 */
}

.notice-close {
	position:absolute;
	top:7px;
	right:7px;
	width:16px;
	height:16px;
	background-image:url(../images/notices/close.png);
	background-repeat:no-repeat;
	background-position:center center;
	cursor:pointer;
}
.notice-message .notice-close {
	background-image:url(../../../core/core/images/notices/close-message.png);
}
.notice-error .notice-close {
	background-image:url(../../../core/core/images/notices/close-error.png);
}
.notice-info .notice-close {
	background-image:url(../../../core/core/images/notices/close-info.png);
}

/**** Lists ****/
.core-list-nobullets {
	margin:0px;
	padding:0px;	
}
.core-list-nobullets li {
	list-style:none;
	margin:0px;
	padding:0px;
}
.core-list-inline {
	margin:0px;
	padding:0px;	
}
.core-list-inline li {
	float:left;
	margin:0px;
	padding:0px;
}

/**** Toggle ****/
.toggle-closed, .toggle-open {
	display:block;
	background:url(../../../core/core/images/toggle_closed.png) no-repeat 6px center;
	padding:2px 5px 2px 18px;
}
.toggle-open {
	background:url(../../../core/core/images/toggle_open.png) no-repeat 3px center;
}

/***** Required *****/
span.required-icon img {
	vertical-align:middle;
	padding-left:1px;
}

/**** Tables ****/
th {
	font-weight:bold;
}

/* Rows */
tr.core-row, div.core-row, table.core-rows > tbody > tr {
	border-bottom:1px solid #e3e3e3;
}

tr.core-row, table.core-rows > thead > tr, table.core-rows > tbody > tr {
	border-top:1px solid #e3e3e3;
	border-left:1px solid #e3e3e3;
	border-right:1px solid #e3e3e3;
}

.even, table.core-rows > tbody > tr:nth-child(even) {
	background-color:#ffffff;
}

.odd, table.core-rows > tbody > tr:nth-child(odd) {
	background-color:#f8f8f8;
}
.core-rows .core-norow, .core-row.core-norow, .odd.core-norow, .even.core-norow, table.core-rows > tbody > tr.core-norow {
	background:none;
	border:none;	
}

.core-table {
	width:100%;
}

.core-table > thead > tr > th, .core-table > tbody > tr > td, .core-table > tr > td {
	padding:4px 6px;
}

/**** Pagination ****/
.pagination {
	padding:4px;
	text-align:center;
}

.pagination .pagination-page {
	display:inline;
	width:20px;
	margin:0px 2px;
	font-weight:bold;
	background:#FFFFFF;
	border:1px solid #CFCFCF;
	padding:3px 5px 2px;
	color:#000;
}

.pagination .pagination-page-selected {
	background:#f3f3f3;
}

/**** Icons ****/
.i {
	display:block;
	width:16px;
	height:16px;
	padding:0px;
	border:0px;
	background:none;
	background-image:url(../../../core/core/images/icons.png);
	background-repeat:no-repeat;
	text-align:left;
}
img.i {
	display:inline;	
}

.i-separator {
	width:6px;
}

.i-inline {
	float:left;
	margin:2px 1px 0px;
}

.form .i-inline,
.form-row .i-inline,
.form-element .i-inline,
.i-inline-block,
a.i-inline-block,
a.i-inline-block:link,
a.i-inline-block:active,
a.i-inline-block:visited,
a.i-inline-block:hover {
	float:none;
	display:inline-block;
	margin:0px 1px 0px;
	vertical-align:middle;
	zoom: 1;
    *display: inline;
}

.i-text {
	display:block;
	float:left;
	margin:0px 5px;
	padding:2px 0px 0px 20px;
	width:auto;
	height:14px;
	font-size:12px;
}

.i-button, .i-button:link, .i-button:active, .i-button:visited, .i-button:hover {
	display:block;
	float:left;
	padding:2px 4px 2px 4px;
	margin:2px 0px;
	height:16px;
	border:1px solid #e6e6e6;
	text-decoration:none;
	overflow:hidden;
	background:#fff;
	-webkit-transition: all 150ms ease-in-out;
	-moz-transition: all 150ms ease-in-out;
	-o-transition: all 150ms ease-in-out;
	transition: all 150ms ease-in-out;
}
.i-button:hover {
	text-decoration:none;
	background:#fbfbfb;
	box-shadow:#d2d2d2 0px 0px 4px;
	-moz-box-shadow:#d2d2d2 0px 0px 4px;
	-webkit-box-shadow:0px 0px 4px #d2d2d2;
}
.i-button .i-text {
	float:none;
	margin:0px;
	padding:2px 0px 0px 21px;
	text-decoration:none;
	font-weight:normal;
	color:#555555;
}

.i-block {
	display:block;
	padding:1px 0px 1px 20px;
	height:16px;
	width:auto;
}

.i-empty, .i-blank {
	background-position: 0px 16px;
	padding:0px;
}

.i-count {
	width:auto;
	height:auto;
	display:block;
	position:absolute;
	margin-top:-5px;
	margin-left:9px;
	background:#2884e4;
	text-align:center;
	color:#FFFFFF;
	font-size:7px;
	line-height:7px;
	padding:2px 3px 1px;
	-webkit-border-radius: 5px;
	-moz-border-radius: 5px;
	border-radius: 5px;
}
.i-button .i-count {
	margin-top:-23px;
	margin-left:22px;	
}

/* Icons - core */
.i-page {background-position: 0px 0px}
.i-add {background-position: 0px -16px}
.i-edit {background-position: 0px -32px}
.i-delete {background-position: 0px -48px}
.i-disable, .i-enabled, .i-approve, .i-approved {background-position: 0px -64px}
.i-disable.i-able:hover, .i-button:hover .i-disable.i-able, .i-button.i-able:hover .i-disable {background-position: 0px -80px}
.i-enable, .i-disabled, .i-decline, .i-declined {background-position: 0px -80px}
.i-enable.i-able:hover, .i-button:hover .i-enable.i-able, .i-button.i-able:hover .i-enable {background-position: 0px -64px}
.i-calendar, .i-date {background-position: 0px -96px}
.i-help {background-position: 0px -112px}
.i-settings {background-position: 0px -128px}
.i-arrange {background-position: 0px -144px}
.i-sort {background-position: 0px -160px}
.i-clear {background-position: 0px -176px}
.i-copy {background-position: 0px -192px}
.i-separator {background-position: 0px -208px}
.i-view, .i-search {background-position: 0px -224px}

/* Icons - arrows */
.i-arrow-up, .i-arrow-right, .i-arrow-down, .i-arrow-left {
	background-image:url(../../../core/core/images/icons-arrows.png);
}
.i-arrow-up {background-position: 0px 0px}
.i-arrow-right {background-position: 0px -16px}
.i-arrow-down {background-position: 0px -32px}
.i-arrow-left {background-position: 0px -48px}

/* Icons - loading */
.i-loading, .i-loader {
	background-image:url(../../../core/core/images/ajax-loader-sm.gif);
}

/**** Hover ****/
.core-hover {
	opacity:.30;
	filter: alpha(opacity=30); 
	-moz-opacity: 0.3;
}
.core-hover:hover {
	opacity:1;
	filter: alpha(opacity=100); 
	-moz-opacity: 1;
}

.core-hover-child {
	visibility:hidden;
}
.core-hover-parent:hover .core-hover-child {
	visibility:visible;
}

/**** Clickable ****/
.core-clickable {
	cursor:pointer;
}

/**** Help ****/
.help-icon img {
	vertical-align:middle;
	margin:0px 1px;
}

/**** Thumbs ****/
.core-thumbs {
	list-style:none;
	padding:0px;
	margin:8px 0px;
}

.core-thumbs li {
	float:left;
	text-align:center;
	overflow:hidden;
}

.core-thumbs .core-thumbs-t, .core-thumbs.core-thumbs-t li {
	width:85px;
	height:100px;
}

.core-thumbs .core-thumbs-s, .core-thumbs.core-thumbs-s li {
	width:150px;
	height:130px;
}

.core-thumbs .core-thumbs-m, .core-thumbs.core-thumbs-m li {
	width:300px;
	height:300px;
}

/**** Loader ****/
div.loader {position:relative;}
div.loader-image {position:absolute;z-index:301;left: 50%;margin-left:-80px;margin-top:15px;}
div.loader-image img, img.loader-image {min-height:0px;vertical-align:middle;}
div.loader-div {position:absolute;z-index:300;top:0px;left:0px;background:#fff;opacity:.70;filter:alpha(opacity=70);-moz-opacity:.7;}
div.loader-fade {opacity:0;filter:alpha(opacity=0);-moz-opacity:0;}

/**** Login ****/
.login-container {
	width:250px;
	margin:0px auto;
	padding:30px;
}

.login-form-field-user input,
.login-form-field-user input[type=text],
.login-form-field-user input[type=email],
.login-form-field-password input,
.login-form-field-password input[type=password] {
	width:150px;
}

.login-form-lost .core-tiny {
	font-size:9px;
}

/**** CKEditor ****/
input.cke_dialog_ui_input_text,
input.cke_dialog_ui_input_password,
textarea.cke_dialog_ui_input_textarea {
	height:auto;
}

/**** Files ****/
/* Overwrite */
.file-overwrite-text {
	height:60px;	
}
a.file-overwrite-button,
a.file-overwrite-button:link,
a.file-overwrite-button:active, 
a.file-overwrite-button:visited,
a.file-overwrite-button:hover {
	float:left;
	display:block;
	padding:8px 15px;
	color:#fff;
	background:#777;
	margin-right:10px;
	font-size:14px;
	line-height:14px;
	text-decoration:none;
	-webkit-transition: all 100ms ease-in-out;
	-moz-transition: all 100ms ease-in-out;
	-o-transition: all 100ms ease-in-out;
	transition: all 100ms ease-in-out;
}
a.file-overwrite-button:hover {
	background:#000;
}

/*##end##*/